<div class="card user-card">
  <div class="card-body row">
    <div class="col-md-6">
      <h5 class="card-title"><%= link_to gravatar_for(user, size: 30), user_path(user) %> <span class="ml-2"><%= link_to user.username, user_path(user) %></span></h5>
    </div>
    <div class="col-md-6 text-right">
      <small class="card-text"><%= pluralize(user.articles.count, 'article') if !user.articles.empty? %></small>
    </div>
  </div>
</div>