<div class="row">
  <div class="col">
    <h1 class="text-center">Welcome to <%= @user.username %>'s page</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4 text-center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>
<%= render 'articles/article_list', obj: @user_articles %>
