<div class="row mb-3">
  <div class="col text-center">
    <h1><%= @category.name %></h1>
    <% if is_admin? %>
      <%= link_to 'Edit category name', edit_category_path(@category), class: "btn btn-sm btn-success" %>
      <%= link_to 'Delete category', category_path(@category), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
    <% end %>
  </div>
</div>

<%= render 'articles/article_list', obj: @category_articles %>
