<div class="row">
  <div class="col text-center">
    <h1><span class="badge" style="background-color: <%= color_code(@category.id) %>; color: <%= contrast_color(@category.id) %>"><%= @category.name %></span></h1>uit
  </div>
</div>

<%= render 'articles/article_list', obj: @category_articles %>
